<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link href="/src/assets/contact_assets/bootstrap/css/bootstrap.min.css">
    <link href="/src/assets/contact_assets/fonts/ionicons.min.css">
    <link href="/src/assets/contact_assets/css/Contact-Form-Clean.css">
    <link href="/src/assets/contact_assets/css/Highlight-Blue.css">
    <link href="/src/assets/contact_assets/css/Highlight-Clean.css">
    <link href="/src/assets/contact_assets/css/Highlight-Phone.css">
    <link href="/src/assets/contact_assets/css/Login-Form-Dark.css">
    <link href="/src/assets/contact_assets/css/Navigation-Clean.css">
    <link href="/src/assets/contact_assets/css/Social-Icons.css">
    <link href="/src/assets/contact_assets/css/styles.css">
</head>

<body style="font-family: 'B612 Mono', monospace;">

    <h1 class="text-center" style="margin-top: 8px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 32px;">Contact Us</h1><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.587836876525!2d80.21623851448807!3d12.86987649092263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525bbeb0b2eeb7%3A0x2cb8fc0ae9b16ed5!2sSt%20Joseph&#39;s%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1597685595779!5m2!1sen!2sin" width="139%" height="400" style="margin-top: 0px;width: 100%;height: 400px;"></iframe>
   
    <div class="contact-clean" style="background-color: rgb(256, 256, 256);"> <br><br>
       <h2 class="text-center font-weight-bolder">Fill out this form</h2>
        <form style="width: 500px; margin: 0 auto;">
            <div class="form-group"><br><br><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea></div>
            <div class="form-group">
                <div class="col text-center">
                <button class="btn btn-dark" type="submit" style="width:300px">SUBMIT</button></div></div><br>
        </form>
        </div>
        <!-- <div class="social-icons"><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div> -->
        <script src="/src/assets/contact_assets/js/jquery.min.js"></script>
        <script src="/src/assets/contact_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>