body {margin:2rem;}

.form-rounded {
border-radius: 1rem;
}
.page-holder {
    min-height: 92vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
