<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link href="/src/assets/staffhome_assets/bootstrap/css/bootstrap.min.css">
    <link href="/src/assets/staffhome_assets/font-awesome.min.css">
</head>

<body>
    <div class="features-blue" style="height: 800px;">
        <div class="container">
            <div class="intro">
                <div class="text-center">
                <h2 class="display-4">Features</h2></div>
                <!-- <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p> -->
            </div><br><br>
            <div class="row features text-center">
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Marks Entry</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus</p>
                    <br><button class="btn btn-light"><a routerLink="/addmarks" style="text-decoration: none; color :black">CLICK HERE</a></button>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Dashboard</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus</p>
                    <br><button class="btn btn-light"><a routerLink="/dashboard" style="text-decoration: none; color :black">CLICK HERE</a></button>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Feedback</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus</p>
                    <br><button class="btn btn-light"><a routerLink="/viewfeedback" style="text-decoration: none; color :black">CLICK HERE</a></button>
                </div>
               
            </div>
        </div>
    </div>
    <script src="/src/assets/staffhome_assets/js/jquery.min.js"></script>
    <script src="/src/assets/staffhome_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>