
    <div class="col text-center display-4">Welcome Admin</div><br>
<div class="container h-100 mt-5">
    <div class="row align-items-center text-center">
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Add subject allocation</h5>
                  <p class="card-text">Add staff for the subjects</p>
                  <a routerLink="/suballoc" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">View subject allocation</h5>
                  <p class="card-text">To View the allocated staff details</p>
                  <a routerLink="/viewstaffalloc" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">View Students Marks</h5>
                <p class="card-text">To have a view of Students marks</p>
                <a routerLink="/dashboard" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">View Staff Feedback</h5>
              <p class="card-text">To View feedback of staff</p>
              <a routerLink="/viewfeedbackforadmin" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
      </div>

</div>